/*
 * Title       :   Code Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the code component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Code
--------------------------------------------------*/

.code {
  color: $grey-200;
  background-color: $grey-800;
  border-radius: $border-radius;
  box-shadow: $z-depth-1;
  overflow: auto;
}
