/*
 * Title       :   Branding Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the Branding component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Branding
--------------------------------------------------*/

.#{$pre}branding {
  height: $header-height_m;
  color: $white !important;
  font-family: $font-primary;
  font-size: $font-xl;
  font-weight: 700;
  line-height: $header-height_m;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  & a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none !important;
  }

  @include media-breakpoint-min(lg) {
    height: $header-height;
    font-size: $font-sl;
    line-height: $header-height;
  }
}
