/*
 * Title       :   Button Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the button component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Button
--------------------------------------------------*/

.button {
  width: auto;
  margin: 2px 0;
  font-size: $font-nm;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: $z-depth-1;
  white-space: nowrap;
  border: none;
  cursor: pointer;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    box-shadow: $z-depth-2;
  }

  &:disabled,
  &.is_disabled {
    opacity: 0.75;
    background-color: $grey-700 !important;
    pointer-events: none;
  }

  &.is_block {
    display: block;
    width: 100%;
  }

  &.is_inline_block { display: inline-block; }

  &.is_small {
    min-width: $button-height-sm;
    line-height: $button-height-sm;
    border-radius: $button-height-sm / 2;
    padding: 0 20px;
  }

  &.is_medium {
    min-width: $button-height-md;
    line-height: $button-height-md;
    border-radius: $button-height-md / 2;
    padding: 0 20px;
  }

  &.is_large {
    min-width: $button-height-lg;
    line-height: $button-height-lg;
    border-radius: $button-height-lg / 2;
    padding: 0 20px;
  }

  &%button-text { color: $white; }

  @each $color, $value in $theme-colors {
    &.is_#{$color} {
      @extend %button-text;
      background-color: #{$value};
    }
  }
}
