/*
 * Title       :   Button Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the button component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Button
--------------------------------------------------*/

.#{$pre}button {
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 $title-gutter;
  font-size: $font-nm;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: $z-depth-1;
  white-space: nowrap;
  border: none;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-left: 2px;
  }

  &:not(:last-of-type) {
    margin-right: 2px;
  }

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    box-shadow: $z-depth-2;
  }

  &:disabled,
  &.#{$mpre}disabled {
    opacity: 0.75;
    background-color: $grey-700 !important;
    pointer-events: none;
  }

  &.#{$mpre}block {
    display: block;
    width: 100%;
  }

  &.#{$mpre}inline_block { display: inline-block; }

  &.#{$mpre}small {
    min-width: $button-height-sm;
    line-height: $button-height-sm;
    border-radius: $button-height-sm / 2;
  }

  &.#{$mpre}medium {
    min-width: $button-height-md;
    line-height: $button-height-md;
    border-radius: $button-height-md / 2;
  }

  &.#{$mpre}large {
    min-width: $button-height-lg;
    line-height: $button-height-lg;
    border-radius: $button-height-lg / 2;
  }

  &%button-text { color: $white; }

  @each $color, $value in $theme-colors {
    &.#{$mpre}#{$color} {
      @extend %button-text;
      background-color: #{$value};
    }
  }
}
