/*
 * Title       :   Card Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the card component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Card
--------------------------------------------------*/

.#{$pre}card {
  color: $dark !important;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $z-depth-1;
  height: 100%;

  &-header {
    padding: $title-gutter;
    border-bottom: 1px solid $grey-200;
  }

  &-content { padding: $content-gutter; }
}
