/*
 * Title       :   Code Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the code component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Code
--------------------------------------------------*/

.#{$pre}code {
  color: $grey-200;
  background-color: $grey-800;
  border-radius: $border-radius;
}
