/*
 * Title       :   Content Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the content component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Section
--------------------------------------------------*/

.#{$pre}section {
  padding-right: $section-gutter-hor;
  padding-left: $section-gutter-hor;

  &.#{$mpre}normal {
    padding-top: ($section-gutter-ver / 2);
    padding-bottom: ($section-gutter-ver / 2);
  }

  &.#{$mpre}narrow {
    padding-top: ($section-gutter-ver / 4);
    padding-bottom: ($section-gutter-ver / 4);
  }

  &.#{$mpre}wide {
    padding-top: $section-gutter-ver;
    padding-bottom: $section-gutter-ver;
  }

  &.#{$mpre}zero { padding: 0; }

  @include media-breakpoint-min(lg) {
    padding-right: ($section-gutter-hor * 2);
    padding-left: ($section-gutter-hor * 2);

    &.#{$mpre}normal {
      padding-top: ($section-gutter-ver);
      padding-bottom: ($section-gutter-ver);
    }

    &.#{$mpre}narrow {
      padding-top: ($section-gutter-ver / 2);
      padding-bottom: ($section-gutter-ver / 2);
    }

    &.#{$mpre}wide {
      padding-top: ($section-gutter-ver * 2);
      padding-bottom: ($section-gutter-ver * 2);
    }
  }
}

/*--------------------------------------------------
  Article
--------------------------------------------------*/

.#{$pre}article {
  &.#{$mpre}normal { padding-top: ($section-gutter-ver / 2); }
  &.#{$mpre}narrow { padding-top: ($section-gutter-ver / 4); }
  &.#{$mpre}wide { padding-top: $section-gutter-ver; }
  &.#{$mpre}zero { padding: 0; }

  @include media-breakpoint-min(lg) {
    &.#{$mpre}normal { padding-top: ($section-gutter-ver ); }
    &.#{$mpre}narrow { padding-top: ($section-gutter-ver / 2); }
    &.#{$mpre}wide { padding-top: ($section-gutter-ver * 2); }
  }

  @media print { page-break-inside: avoid; }
}


