/*
 * Title       :   Layout Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the layout component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Site Header
--------------------------------------------------*/

.header {
  position: relative;
  width: 100%;
  min-width: 240px;
  background-color: $primary;
  z-index: 9;
}

/*--------------------------------------------------
  Site Main
--------------------------------------------------*/

.main {
  min-height: 100vh;
  background-color: $grey-200;
}

/*--------------------------------------------------
  Site Footer
--------------------------------------------------*/

.footer {
  position: relative;
  background-color: $dark;
  z-index: 1;
}


