/*
 * Title       :   Layout Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the layout component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Site Header
--------------------------------------------------*/

.header {
  position: fixed;
  width: 100%;
  height: $header-height_m;
  min-width: 240px;
  background-color: $primary;
  box-shadow: $z-depth-2;
  z-index: 9;

  @include media-breakpoint-min(lg) {
    height: $header-height;
  }
}

/*--------------------------------------------------
  Site Main
--------------------------------------------------*/

.main {
  min-height: 100vh;
  background-color: $grey-200;
  padding-top: $header-height_m;

  @include media-breakpoint-min(lg) {
    padding-top: $header-height;
  }
}

/*--------------------------------------------------
  Site Sider
--------------------------------------------------*/

.aside {
  min-height: 100%;
  background-color: $grey-300;
  z-index: 1;
}

/*--------------------------------------------------
  Site Footer
--------------------------------------------------*/

.footer {
  position: relative;
  background-color: $grey-700;
  z-index: 1;
}

/*--------------------------------------------------
  Site Layout
--------------------------------------------------*/
.layout-container {
  .layout-content {
    display: flex;
    flex-wrap: wrap;

    & aside,
    & main {
      flex: 0 0 100%;
      width: calc(100% - 250px);
    }

    @include media-breakpoint-min(lg) {
      & aside {
        flex: 0 0 250px;
        width: 250px;
      }

      & main {
        flex: 0 0 calc(100% - 250px);
        width: calc(100% - 250px);
      }
    }
    @include media-breakpoint-max(lg) {
      & aside {
        margin-top: $header-height_m;
      }
    }
  }
}

