/*
 * Title       :   Loading Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the loading component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Loading
--------------------------------------------------*/

.#{$pre}loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $section-gutter-ver;
  padding-right: ($section-gutter-hor);
  padding-bottom: $section-gutter-ver;
  padding-left: ($section-gutter-hor);

  & > div {
    flex: 0 0 40px;
  }

  & span {
    color: $grey-500;
    font-size: $font-nm;
    padding-left: 10px;
  }

  & .#{$pre}ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;

    & div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      margin: 5px;
      border: 5px solid $grey-500;
      border-radius: 50%;
      animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $grey-500 transparent transparent transparent;
    }

    & div:nth-child(1) {
      animation-delay: -0.45s;
    }

    & div:nth-child(2) {
      animation-delay: -0.3s;
    }

    & div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  & .#{$pre}ripple {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;

    & div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border: 5px solid $grey-500;
      opacity: 1;
      border-radius: 50%;
      animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    & div:nth-child(2) {
      animation-delay: -0.5s;
    }
  }

  & .#{$pre}ellipsis {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;

    & div {
      position: absolute;
      top: 16px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $grey-500;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    & div:nth-child(1) {
      left: 0;
      animation: ellipsis1 600ms infinite;
    }

    & div:nth-child(2) {
      left: 0;
      animation: ellipsis2 600ms infinite;
    }

    & div:nth-child(3) {
      left: 15px;
      animation: ellipsis2 600ms infinite;
    }

    & div:nth-child(4) {
      left: 30px;
      animation: ellipsis3 600ms infinite;
    }
  }

  .#{$pre}bar {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;

    & div {
      display: inline-block;
      position: absolute;
      left: 0;
      width: 5px;
      background: $grey-500;
      animation: bar 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    & div:nth-child(1) {
      left: 0;
      animation-delay: -360ms;
    }

    & div:nth-child(2) {
      left: 12px;
      animation-delay: -240ms;
    }

    & div:nth-child(3) {
      left: 24px;
      animation-delay: -120ms;
    }

    & div:nth-child(4) {
      left: 36px;
      animation-delay: 0;
    }
  }

  @include media-breakpoint-min(md) {
    padding-right: ($section-gutter-hor * 2);
    padding-left: ($section-gutter-hor * 2);

    & span {
      font-size: $font-lg;
    }
  }
}

@keyframes ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes ellipsis1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes ellipsis3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes ellipsis2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(15px, 0); }
}

@keyframes bar {
  0% {
    top: 0;
    height: 40px;
  }

  50%, 100% {
    top: 10px;
    height: 20px;
  }
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    border-width: 0;
  }

  4% {
    width: 0;
    height: 0;
    opacity: 0;
    border-width: 1px;
  }

  5% {
    width: 0;
    height: 0;
    opacity: 1;
    border-width: 2px;
  }

  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
    border-width: 5px;
  }
}
