/*
 * Title       :   Paper Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the paper component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Paper
--------------------------------------------------*/

.#{$pre}paper {
  color: $dark !important;
  background-color: $grey-50;
  border-radius: $border-radius;

  &-header {
    padding: $title-gutter / 2;
    background-color: $grey-50;
    border-bottom: 1px solid $grey-200;

    @include media-breakpoint-min(md) {
      padding: $title-gutter;
    }

    &.#{$mpre}sticky {
      position: sticky;
      top: $header-height_m;

      @include media-breakpoint-min(lg) {
        top: $header-height;
      }
    }
  }

  &-content {
    padding: $content-gutter / 2;

    @include media-breakpoint-min(md) {
      padding: $content-gutter;
    }
  }
}
