/*
 * Title       :   Search Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the search component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Search
--------------------------------------------------*/

.search {
  position: relative;

  & input {
    width: 100%;
    height: $input-height;
    padding: 0 20px;
    color: inherit;
    font-size: $font-md;
    font-family: inherit;
    font-weight: inherit;
    line-height: $line-height-nm;
    background-color: $grey-200;
    border: 1px solid $grey-200;
    border-radius: $input-height / 2;
    box-shadow: none;
    transition: $transition;

    &:focus {
      background-color: $grey-50;
      border: 1px solid $grey-200;
      border-radius: $border-radius;
      box-shadow: $z-depth-1;
    }
  }

  & button,
  & input[type=button],
  & input[type=submit] {
    cursor: pointer;
    border: none;
  }

  & button:disabled:hover,
  & input[type=button]:disabled:hover,
  & input[type=submit]:disabled:hover {
    cursor: auto;
    opacity: 0.5;
    box-shadow: none;
  }

  & button,
  & textarea,
  & input[type=text],
  & input[type=button],
  & input[type=submit] {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  & ::placeholder {
    color: inherit;
    font-size: $font-md;
    opacity: 0.75;
  }
}


