/*
 * Title       :   Tab Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the tab component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Tab
--------------------------------------------------*/
.#{$pre}tab {
  &-link {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;

    &.#{$mpre}sticky {
      position: sticky;
      top: $header-height_m;

      @include media-breakpoint-min(lg) {
        top: $header-height;
      }
    }

    &-item {
      display: inline-block;
      padding: $title-gutter / 2;
      color: inherit;
      font-size: $font-md;
      background-color: $grey-50;
      opacity: 0.5;
      transition: $transition;
      cursor: pointer;

      @include media-breakpoint-min(md) {
        padding-right: $title-gutter;
        padding-left: $title-gutter;
      }
    }

    &-item:hover { opacity: 0.75; }

    &-item.#{$mpre}active {
      color: $dark;
      border-radius: $border-radius $border-radius 0 0;
      box-shadow: $z-depth-2;
      opacity: 1;
      z-index: 1;
    }
  }

  &-content {
    color: $dark;
    position: relative;
    padding: $content-gutter;
    background-color: $grey-50;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $z-depth-1;
    z-index: 1;
  }
}
