/*
 * Title       :   Tab Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the tab component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Tab
--------------------------------------------------*/
.tab {
  &-link {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;

    &-item {
      display: inline-block;
      padding: 10px 15px;
      font-size: $font-md;
      background: none;
      cursor: pointer;
    }

    &-item.is_active {
      color: $dark;
      background-color: $grey-50;
      border-radius: $border-radius $border-radius 0 0;
      box-shadow: $z-depth-2;
    }
  }

  &-content {
    color: $dark;
    position: relative;
    padding: 15px;
    background-color: $grey-50;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $z-depth-1;
    z-index: 1;
  }
}
