/*
 * Title       :   Typography Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the Typography component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Heading
--------------------------------------------------*/

.#{$pre}typography {
  &.#{$mpre}hero {
    line-height: $font-sl;
    margin-bottom: $title-gutter;
    font-size: $font-sl;

    @include media-breakpoint-min(lg) {
      font-size: $font-ml;
    }
  }

  &.#{$mpre}section {
    line-height: $font-xl;
    margin-bottom: $title-gutter;
    font-size: $font-xl;

    @include media-breakpoint-min(lg) {
      font-size: $font-sl;
    }
  }

  &.#{$mpre}article {
    line-height: $font-nm;
    margin-bottom: $title-gutter;
    font-size: $font-nm;

    @include media-breakpoint-min(lg) {
      line-height: $font-lg;
      font-size: $font-lg;
    }
  }

  &.#{$mpre}title {
    line-height: $font-nm;
    font-size: $font-nm;
  }

  &.#{$mpre}paragraph {
    font-size: $font-nm;
  }

  &.#{$mpre}link {
    color: $info !important;
    font-size: $font-nm;
  }

  &.#{$mpre}code {
    margin: 0 1px;
    padding: 1px 2px;
    background: rgba($color: $grey-500, $alpha: 0.2);
    border: 1px solid rgba($color: $grey-500, $alpha: 0.2);
    border-radius: $border-radius;
    font-size: $font-nm;
  }

  &.#{$mpre}sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;

    &.#{$mpre}focusable:active,
    &.#{$mpre}focusable:focus {
      position: static;
      width: auto;
      height: auto;
      overflow: visible;
      clip: auto;
      white-space: normal !important;
    }
  }

  &.#{$mpre}capitalize { text-transform: capitalize; }
  &.#{$mpre}uppercase { text-transform: uppercase; }
  &.#{$mpre}lowercase { text-transform: lowercase; }

  &.#{$mpre}center { text-align: center; }
  &.#{$mpre}justify { text-align: justify; }
  &.#{$mpre}right { text-align: right; }
  &.#{$mpre}left { text-align: left; }

  &.#{$mpre}small { font-size: $font-sm; }
  &.#{$mpre}medium { font-size: $font-md; }
  &.#{$mpre}large { font-size: $font-lg; }
  &.#{$mpre}extra-large { font-size: $font-xl; }
  &.#{$mpre}super-large { font-size: $font-sl; }
  &.#{$mpre}mega-large { font-size: $font-ml; }

  &.#{$mpre}normal { font-weight: normal; }
  &.#{$mpre}bold { font-weight: bold; }
  &.#{$mpre}bolder { font-weight: bolder; }
  &.#{$mpre}lighter { font-weight: lighter; }

  @each $color, $value in $theme-colors {
    &.#{$mpre}#{$color} { color: #{$value}; }
  }
}
