/*
 * Title       :   Typography Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the Typography component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Heading
--------------------------------------------------*/

.typography {
  &.is_hero {
    line-height: $font-sl;
    margin-bottom: $title-gutter;
    font-size: $font-sl;

    @include media-breakpoint-min(lg) {
      font-size: $font-ml;
    }
  }

  &.is_section {
    line-height: $font-xl;
    margin-bottom: $title-gutter;
    font-size: $font-xl;

    @include media-breakpoint-min(lg) {
      font-size: $font-sl;
    }
  }

  &.is_article {
    line-height: $font-nm;
    margin-bottom: $title-gutter;
    font-size: $font-nm;

    @include media-breakpoint-min(lg) {
      line-height: $font-lg;
      font-size: $font-lg;
    }
  }

  &.is_title {
    line-height: $font-nm;
    margin-bottom: $title-gutter;
    font-size: $font-nm;
  }

  &.is_paragraph {
    font-size: $font-nm;
  }

  &.is_link {
    color: $info;
    font-size: $font-nm;
  }

  &.is_code {
    margin: 0 1px;
    padding: 1px 2px;
    background: rgba($color: $grey-500, $alpha: 0.2);
    border: 1px solid rgba($color: $grey-500, $alpha: 0.2);
    border-radius: $border-radius;
    font-size: $font-nm;
  }

  &.is_sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;

    &.is_focusable:active,
    &.is_focusable:focus {
      position: static;
      width: auto;
      height: auto;
      overflow: visible;
      clip: auto;
      white-space: normal !important;
    }
  }

  &.is_capitalize { text-transform: capitalize; }
  &.is_uppercase { text-transform: uppercase; }
  &.is_lowercase { text-transform: lowercase; }

  &.is_center { text-align: center; }
  &.is_justify { text-align: justify; }
  &.is_right { text-align: right; }
  &.is_left { text-align: left; }

  &.is_small { font-size: $font-sm; }
  &.is_medium { font-size: $font-md; }
  &.is_large { font-size: $font-lg; }
  &.is_extra-large { font-size: $font-xl; }
  &.is_super-large { font-size: $font-sl; }
  &.is_mega-large { font-size: $font-ml; }

  &.is_normal { font-weight: normal; }
  &.is_bold { font-weight: bold; }
  &.is_bolder { font-weight: bolder; }
  &.is_lighter { font-weight: lighter; }

  @each $color, $value in $theme-colors {
    &.is_#{$color} { color: #{$value}; }
  }
}
