/*
 * Title       :   Utility Component
 * Author      :   Jack Ryan Oracoy
 * Description :   Style for the Utility component
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Screen readers only
--------------------------------------------------*/

.#{$pre}sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &.#{$mpre}focusable:active,
  &.#{$mpre}focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal !important;
  }
}

/*--------------------------------------------------
  Clearfix
--------------------------------------------------*/

.#{$pre}clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*--------------------------------------------------
  Disyplay
--------------------------------------------------*/

.#{$pre}inline { display: inline; }
.#{$pre}block { display: block; }
.#{$pre}inline-block { display: inline-block; }

/*--------------------------------------------------
  Hidden
--------------------------------------------------*/

.#{$pre}hidden {
  display: none; visibility: hidden;

  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-min($breakpoint) {
      &-#{$breakpoint}-min { display: none; visibility: hidden; }
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-max($breakpoint) {
      &-#{$breakpoint}-max { display: none; visibility: hidden; }
    }
  }
}

/*--------------------------------------------------
  Float
--------------------------------------------------*/

.#{$pre}float-left { float: left; }
.#{$pre}float-right { float: right; }
.#{$pre}float-none { float: none; }

/*--------------------------------------------------
  Width and Height
--------------------------------------------------*/

.#{$pre}width-25 { width: 25%; }
.#{$pre}width-50 { width: 50%; }
.#{$pre}width-75 { width: 75%; }
.#{$pre}width-100 { width: 100%; }

.#{$pre}height-25 { height: 25%; }
.#{$pre}height-50 { height: 50%; }
.#{$pre}height-75 { height: 75%; }
.#{$pre}height-100 { height: 100%; }

/*--------------------------------------------------
  Padding
--------------------------------------------------*/

@each $padding in $gap {
  .#{$pre}pa-#{$padding} { padding: #{#{$padding}px}; }
  .#{$pre}pt-#{$padding} { padding-top: #{#{$padding}px}; }
  .#{$pre}pr-#{$padding} { padding-right: #{#{$padding}px}; }
  .#{$pre}pb-#{$padding} { padding-bottom: #{#{$padding}px}; }
  .#{$pre}pl-#{$padding} { padding-left: #{#{$padding}px}; }
}

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-min($breakpoint) {
    @each $padding in $gap {
      .#{$pre}pa-#{$breakpoint}-#{$padding} { padding: #{#{$padding}px}; }
      .#{$pre}pt-#{$breakpoint}-#{$padding} { padding-top: #{#{$padding}px}; }
      .#{$pre}pr-#{$breakpoint}-#{$padding} { padding-right: #{#{$padding}px}; }
      .#{$pre}pb-#{$breakpoint}-#{$padding} { padding-bottom: #{#{$padding}px}; }
      .#{$pre}pl-#{$breakpoint}-#{$padding} { padding-left: #{#{$padding}px}; }
    }
  }
}

/*--------------------------------------------------
  Margin
--------------------------------------------------*/

@each $margin in $gap {
  .#{$pre}ma-#{$margin} { margin: #{#{$margin}px}; }
  .#{$pre}mt-#{$margin} { margin-top: #{#{$margin}px}; }
  .#{$pre}mr-#{$margin} { margin-right: #{#{$margin}px}; }
  .#{$pre}mb-#{$margin} { margin-bottom: #{#{$margin}px}; }
  .#{$pre}ml-#{$margin} { margin-left: #{#{$margin}px}; }
}

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-min($breakpoint) {
    @each $margin in $gap {
      .#{$pre}ma-#{$breakpoint}-#{$margin} { margin: #{#{$margin}px}; }
      .#{$pre}mt-#{$breakpoint}-#{$margin} { margin-top: #{#{$margin}px}; }
      .#{$pre}mr-#{$breakpoint}-#{$margin} { margin-right: #{#{$margin}px}; }
      .#{$pre}mb-#{$breakpoint}-#{$margin} { margin-bottom: #{#{$margin}px}; }
      .#{$pre}ml-#{$breakpoint}-#{$margin} { margin-left: #{#{$margin}px}; }
    }
  }
}

/*--------------------------------------------------
  Color
--------------------------------------------------*/

@each $color, $value in $theme-colors {
  .#{$pre}color-#{$color} { color: #{$value}; }
}

@each $color, $value in $colors {
  .#{$pre}color-#{$color} { color: #{$value}; }
}

@each $shade, $value in $greys {
  .#{$pre}color-grey-#{$shade} { color: #{$value}; }
}

/*--------------------------------------------------
  Background color
--------------------------------------------------*/

@each $color, $value in $theme-colors {
  .#{$pre}bg-#{$color} { background-color: #{$value}; }
}

@each $color, $value in $colors {
  .#{$pre}bg-#{$color} { background-color: #{$value}; }
}

@each $shade, $value in $greys {
  .#{$pre}bg-grey-#{$shade} { background-color: #{$value}; }
}

/*--------------------------------------------------
  Overflow
--------------------------------------------------*/

.#{$pre}overflow-auto { overflow: auto; }
.#{$pre}overflow-hidden { overflow: hidden; }
.#{$pre}overflow-scroll { overflow: scroll; }
.#{$pre}overflow-visible { overflow: visible; }

.#{$pre}overflow-x-auto { overflow-x: auto; }
.#{$pre}overflow-x-hidden { overflow-x: hidden; }
.#{$pre}overflow-x-scroll { overflow-x: scroll; }
.#{$pre}overflow-x-visible { overflow-x: visible; }

.#{$pre}overflow-y-auto { overflow-y: auto; }
.#{$pre}overflow-y-hidden { overflow-y: hidden; }
.#{$pre}overflow-y-scroll { overflow-y: scroll; }
.#{$pre}overflow-y-visible { overflow-y: visible; }
